@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-VariableFont_wdth.ttf);
    font-family: 'RobotoSlab';
    src: url(./fonts/RobotoSlab-VariableFont_wght.ttf);
}

:root {
    --darkText: #020707;
    --titles: #012E13;
    --hilights: #3B7229;
    --lightBG: #f5fff2;
}

body {
    display: flex;
}

/* HERO BANNER */ 

.hero {
    width: 35vw;
    height: 100vh;
    background-image: url(./images/tim-foster-_jN46g5t2wk-unsplash.jpg);
    background-color: green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .logoBG {
    background-color: rgba(265, 265, 265, 0.5);
    width: 100%;
}

.hero .logoBG h1 {
    color: var(--titles);
    text-align: center;
    padding: 1rem 0;
    font-family: 'RobotoSlab', sans-serif;
}

/* MAIN FORM */

.main {
    background-color: var(--lightBG);
    width: 100%;
    font-family: 'OpenSans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main button {
    margin-top: 2rem;
    margin-left: 2rem;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--hilights);
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: bold;
    width: fit-content;
}

.main p {
    max-width: 70ch;
    min-width: 30ch;
    color: var(--darkText);
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.4rem;
    text-align: justify;
}
.main p i {
    font-weight: bold;
}

#login {
    font-size: 1rem;
}

#login a {
    color: var(--hilights);
    text-decoration: none;
    font-weight: bold;
}
#login a:visited {
    color: var(--titles);
}

.mainForm {
    background-color: white;
    padding-left: 2rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.mainForm h2 {
    color: var(--titles);
}

.inputs {
    width: 70ch;
    padding-bottom: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1rem;
}

.input {
    display: flex;
    flex-direction: column;
}
.input label {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 800;
    color: #3d3d3d;
    margin-bottom: 0.2rem;
}